@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/media' as m;
@use '../vendors/fluid' as *;

.card {
  padding: fluid(24, 32);
  overflow: hidden;
  border-radius: fn.rem(var.$radius-md);

  transition: background-color var.$duration var.$timing-fn;

  @include m.hover {
    background-color: fn.color(bg-muted);
  }

  &:focus-within {
    background-color: fn.color(bg-muted);
  }
}
