@use '../abstracts/placeholders';
@use '../abstracts/functions' as fn;
@use '../abstracts/media' as m;

.intro {
  display: flex;
  flex-direction: column;
  row-gap: fn.rem(12);
  align-items: center;

  margin-bottom: fn.rem(32);
  text-align: center;

  @include m.mq(laptop) {
    row-gap: fn.rem(16);
    margin-bottom: fn.rem(56);
  }

  &__title {
    @extend %section-title;
  }

  &__description {
    @extend %main-text;
  }
}
