@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;
@use '../vendors/fluid' as *;

.scroll-to-top {
  @include mx.flex-center;
  @include mx.circle(fluid(30, 40));

  position: fixed;
  right: fn.rem(30);
  bottom: fn.rem(30);
  z-index: 100;

  opacity: 0;
  transform: translateY(fn.rem(12)) scale(0.9);
  pointer-events: none;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  background-color: fn.color(accent-primary);

  transition:
    opacity 500ms var.$timing-fn,
    transform 500ms var.$timing-fn;

  &--visible {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
  }

  &__icon {
    @include mx.square(fluid(12, 18));

    rotate: -90deg;
    fill: fn.color(text-light);
  }
}
