/* === Box model === */
*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: 0;
}

/* === Reset spacing === */
* {
  margin: 0;
  padding: 0;
}

/* === Root defaults === */
html {
  scroll-behavior: smooth;
  tab-size: 2;

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-gutter: stable;
  overflow-x: clip;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* === Body === */
body {
  min-height: 100dvh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    Arial,
    sans-serif;

  overflow-wrap: break-word;
}

/* === Media === */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

/* === Typography === */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: 1.2;
  overflow-wrap: break-word;
  // text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* === Lists === */
ul,
ol {
  list-style: none;
}

/* === Links === */
a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

/* === Forms === */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button,
label {
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

fieldset {
  border: 0;
  min-width: 0;
}

/* === Tables === */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* === Misc === */
hr {
  border: none;
  border-top: 1px solid currentColor;
  opacity: 0.2;
}

[hidden] {
  display: none !important;
}

dialog {
  padding: 0;
  border: none;
  max-width: 100%;
}

::selection {
  background-color: color-mix(in srgb, #656565 25%, transparent);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

summary {
  cursor: pointer;
}
