@use 'functions' as fn;
@use 'variables' as var;
@use 'sass:list';
@use 'sass:map';

// mq: min / max breakpoint
@mixin mq($point, $type: min) {
  $width: fn.rem(fn.breakpoint($point));

  @if $type == max {
    $width: $width - 0.02rem;
  }

  @media screen and (#{$type}-width: $width) {
    @content;
  }
}

// mq-between: range between breakpoints
@mixin mq-between($min-point, $max-point) {
  $min-width: fn.rem(fn.breakpoint($min-point));
  $max-width: calc(fn.rem(fn.breakpoint($max-point)) - 0.02rem);

  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

// states (hover, focus, active)
@mixin hover($active-on-touch: true) {
  @media (any-hover: hover) {
    &:not(:disabled):hover,
    &:not(:disabled):focus-visible {
      @content;
    }
  }

  @if $active-on-touch {
    @media (any-hover: none) {
      &:active {
        transition: none;
        @content;
      }
    }
  }
}
