// == min & max viewport ==
$viewport-min: 390;
$viewport-max: 1440;

// == breakpoints ==
$breakpoints: (
  mobile: $viewport-min,
  mobile-lg: 480,
  tablet: 768,
  laptop: 1024,
  desktop: $viewport-max,
);

// == colors ==
$colors: (
  text-primary: #222222,
  text-secondary: #656565,
  text-muted: #aaaaaa,
  text-accent: #4f54c8,
  text-light: #ffffff,
  text-light-muted: #fff4f2,

  bg-primary: #ffffff,
  bg-secondary: #222222,
  bg-soft: #fff4f2,
  bg-muted: #edefff,

  accent-primary: #f44817,
  accent-secondary: #4f54c8,

  border: #222222,
  line: #aaaaaa,
  line-footer: #505359,
  shadow: rgba(200, 200, 200, 0.25),
);

// == typography ==
// == font ==
$font-family: 'DM Sans';

$font-weights: (
  regular: 400,
  semibold: 600,
  bold: 700,
);

// == font-size ==
$fs-base: 16;

$font-sizes: (
  xxs: 10,
  xs: 12,
  sm: 14,
  md: $fs-base,
  lg: 18,
  xl: 20,
  2xl: 24,
  3xl: 32,
  4xl: 40,
  5xl: 58,
);

$line-heights: (
  tight: 1.3,
  base: 1.6,
);

// == container ==
$container-width: 1340;
$container-padding-x: 16;

// == border-radius ==
$radius-sm: 8;
$radius-md: 16;
$radius-lg: 24;

// == transition ==
$duration: 250ms;
$timing-fn: cubic-bezier(0.4, 0, 0.2, 1);

// == client logo sizes ==
$client-logos: (
  1: (
    99,
    131,
  ),
  2: (
    73,
    86,
  ),
  3: (
    121,
    178,
  ),
  4: (
    97,
    146,
  ),
  5: (
    72,
    118,
  ),
  6: (
    92,
    157,
  ),
);
