@use '../abstracts/placeholders';
@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/media' as m;

@include m.mq(tablet, max) {
  $duration: 500ms;

  body.no-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    background-color: rgba(46, 47, 66, 0.4);
    backdrop-filter: blur(2px);

    transition:
      opacity $duration var.$timing-fn,
      visibility $duration var.$timing-fn;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 68%;
    height: 100%;

    z-index: 102;
    overflow-y: auto;

    display: grid;
    justify-content: end;

    background-color: fn.color(bg-primary);

    transform: translateX(100%);
    transition: transform $duration var.$timing-fn;

    &.is-open {
      transform: translate(0%);
    }

    &__close-btn {
      position: absolute;
      top: fn.rem(33);
      right: fn.rem(16);
    }

    &__close-icon {
      fill: fn.color(text-primary);
    }

    &__content {
      padding-block: fn.rem(80) fn.rem(24);
    }

    &__list {
      display: grid;
      row-gap: fn.rem(12);
      justify-items: end;

      margin-bottom: fn.rem(24);
    }

    &__link {
      transition: color var.$duration var.$timing-fn;

      &:not(.is-active) {
        @include m.hover {
          color: fn.color(accent-primary);
        }
      }
    }

    &__link.is-active {
      font-weight: fn.fw(semibold);
      line-height: fn.lh(tight);
      color: fn.color(text-primary);

      pointer-events: none;
    }
  }
}
