@use '../abstracts/placeholders';
@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;
@use '../abstracts/media' as m;
@use '../vendors/fluid' as *;

.testimonials {
  padding-block: fn.rem(80) fluid(80, 160);

  &__inner {
    @include m.mq(desktop) {
      display: grid;
      grid-template-columns: fn.rem(558) fn.rem(654);
      column-gap: fn.rem(40);
      justify-content: space-between;

      grid-template-areas:
        'badge .'
        'intro swiper'
        'controls swiper';
    }
  }

  &__intro {
    @include m.mq(desktop) {
      grid-area: intro;
      align-items: start;
      text-align: left;
    }
  }

  &__title,
  &__badge {
    margin-bottom: fluid(12, 16);
  }

  &__badge {
    @include m.mq(desktop, max) {
      display: block;
      margin-inline: auto;
    }

    @include m.mq(desktop) {
      grid-area: badge;
    }
  }

  // Content

  &__swiper {
    min-width: 0;
    max-width: fn.rem(654);

    @include m.mq(desktop) {
      grid-area: swiper;
    }
  }

  // comment
  &__list {
    margin-inline: auto;
    max-width: fn.rem(654);
  }

  &__item {
    @include m.mq(desktop, max) {
      margin-bottom: fn.rem(32);
    }
  }

  &__comment {
    @include mx.fluid-text(md, 2xl);

    margin-bottom: fluid(40, 50);

    font-weight: fn.fw(regular);
    line-height: fn.lh(tight);
    color: fn.color(text-primary);

    @include m.mq(laptop) {
      line-height: fn.lh(base);
    }
  }

  //  person
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__person {
    display: flex;
    align-items: center;
    column-gap: fn.rem(16);
  }

  &__avatar {
    @include mx.circle(fluid(38, 52));

    overflow: hidden;
  }

  &__meta {
    display: grid;
    row-gap: fn.rem(4);
  }

  &__author {
    @extend %text-primary-base;
    @include mx.fluid-text(sm, md);
  }

  &__role {
    @include mx.fluid-text(xxs, sm);
  }

  &__counter {
    &-current {
      @include mx.fluid-text(md, 2xl);

      font-weight: fn.fw(regular);
      line-height: fn.lh(tight);
      color: fn.color(text-primary);

      @include m.mq(laptop) {
        line-height: fn.lh(base);
      }

      &::after {
        content: '/';
      }
    }

    &-total {
      @include mx.fluid-text(xxs, md);
    }
  }

  // controls
  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: fluid(6, 10);

    @include m.mq(desktop) {
      grid-area: controls;
      justify-content: start;
      align-self: end;
    }
  }

  &__prev,
  &__next {
    @include mx.flex-center(inline);
    @include mx.circle(fluid(30, 40));

    border: 1px solid fn.color(border);
    transition:
      border-color var.$duration var.$timing-fn,
      background-color var.$duration var.$timing-fn;

    &:disabled {
      cursor: not-allowed;
    }

    @include m.hover {
      border-color: transparent;
      background-color: fn.color(accent-secondary);

      &:not(.testimonials__next--accent) .testimonials__arrow-icon {
        fill: fn.color(text-light);
      }
    }
  }

  &__prev {
    rotate: 180deg;
  }

  &__next--accent {
    border-color: transparent;
    background-color: fn.color(accent-primary);
  }

  &__arrow-icon {
    fill: fn.color(text-primary);
    transition: fill var.$duration var.$timing-fn;
  }

  &__next--accent &__arrow-icon {
    fill: fn.color(text-light);
  }
}
