<section class="about" id="about">
  <div class="about__inner container">
    <!-- Intro -->
    <div class="about__intro intro">
      <span class="badge">About</span>
      <h2 class="about__title intro__title">
        Your Trusted Partner in Achieving Lasting Marketing Success
      </h2>
    </div>

    <!-- Content -->
    <p class="about__description">
      Bizzier specializes in helping B2B companies cut through the noise and
      connect with their ideal customers. With years of experience in
      data-driven strategies and account-focused marketing, we deliver solutions
      that maximize ROI and scale your business growth
    </p>
  </div>
</section>
