<div class="clients">
  <div class="clients__inner container">
    <ul class="clients__list">
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo-01"
            src="./src/images/clients/logo-01.svg"
            alt="Partner company logo"
            width="131"
            height="28" />
        </a>
      </li>

      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo-02"
            src="./src/images/clients/logo-02.svg"
            alt="Partner company logo"
            width="86"
            height="20" />
        </a>
      </li>

      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo-03"
            src="./src/images/clients/logo-03.svg"
            alt="Partner company logo"
            width="178"
            height="28" />
        </a>
      </li>

      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo-04"
            src="./src/images/clients/logo-04.svg"
            alt="Partner company logo"
            width="146"
            height="28" />
        </a>
      </li>

      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo-05"
            src="./src/images/clients/logo-05.svg"
            alt="Partner company logo"
            width="118"
            height="20" />
        </a>
      </li>

      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo-06"
            src="./src/images/clients/logo-06.svg"
            alt="Partner company logo"
            width="157"
            height="28" />
        </a>
      </li>
    </ul>
  </div>
</div>
