<section class="cta container" id="cta">
  <div class="cta__inner section">
    <!-- Intro -->
    <div class="cta__intro">
      <h2 class="cta__title">
        Time to Take Your B2B Growth to the Next Level?
      </h2>
      <p class="cta__description">
        Let's design a strategy tailored to your goals, built to strengthen your
        brand, attract the right clients, and drive measurable growth.
      </p>
    </div>

    <!-- Content / testimonials list -->
    <div class="cta__wrapper">
      <img
        class="cta__img"
        src="./src/images/cta/illustration.svg"
        alt="Business consultation illustration"
        width="531"
        height="367"
        loading="lazy" />

      <!-- form -->
      <form class="cta__form">
        <div class="cta__fields">
          <div class="cta__field">
            <label class="visually-hidden" for="name">Name</label>
            <input
              class="cta__input"
              type="text"
              id="name"
              name="name"
              placeholder="Name"
              required />
          </div>

          <div class="cta__field">
            <label class="visually-hidden" for="company">Company</label>
            <input
              class="cta__input"
              type="text"
              id="company"
              name="company"
              placeholder="Company"
              required />
          </div>

          <div class="cta__field">
            <label class="visually-hidden" for="email">Email</label>
            <input
              class="cta__input"
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required />
          </div>

          <div class="cta__field">
            <label class="visually-hidden" for="needs">Project Needs</label>
            <textarea
              class="cta__textarea"
              id="needs"
              name="needs"
              rows="1"
              placeholder="Project Needs"
              required></textarea>
          </div>
        </div>

        <button class="cta__btn btn btn--accent" type="submit">
          Request a Quote
        </button>
      </form>
    </div>
  </div>
</section>
