<section class="hero section">
  <div class="hero__inner container">
    <!-- Label -->
    <div class="hero__label">
      <svg class="hero__label-icon" aria-hidden="true" width="14" height="14">
        <use href="./src/images/sprite.svg#icon-illustration"></use>
      </svg>

      <span class="hero__label-text">
        Powering the Next Generation of Business Partnerships
      </span>
    </div>

    <!-- Main info -->
    <div class="hero__main">
      <!-- title and description -->
      <div class="hero__info">
        <h1 class="hero__title">Connecting You to the Right Partners</h1>
        <p class="hero__description">
          Unlock sustainable growth through tailored strategies that strengthen
          B2B relationships, enhance performance, and create lasting impact.
        </p>
      </div>

      <!-- buttons -->
      <div class="hero__buttons">
        <a class="btn btn--accent" href="#cta">Get a Free Quote</a>
        <a class="btn" href="#services">Learn More</a>
      </div>
    </div>

    <!-- Illustration -->
    <div class="hero__illustration">
      <img
        class="hero__img"
        src="./src/images/hero/illustration.svg"
        alt="Connecting partners illustration"
        width="666"
        height="666" />
    </div>

    <!-- Key Metrics -->
    <ul class="hero__metrics">
      <li class="hero__metric">
        <span class="hero__metric-value">150%</span>
        <p class="hero__metric-label">Average Roi Increase</p>
      </li>
      <li class="hero__metric">
        <span class="hero__metric-value">100+</span>
        <p class="hero__metric-label">Trusted Global Clients</p>
      </li>
      <li class="hero__metric">
        <span class="hero__metric-value">250+</span>
        <p class="hero__metric-label">Successful Campaigns</p>
      </li>
    </ul>
  </div>
</section>
