<div class="backdrop js-menu-container" role="dialog" aria-modal="true">
  <div class="menu container">
    <button
      class="menu__close-btn js-close-menu"
      type="button"
      aria-label="Close menu"
      title="Close menu"
      aria-expanded="false">
      <svg class="menu__close-icon" aria-hidden="true" width="18" height="14">
        <use href="./src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="menu__content">
      <!-- navigation -->
      <nav class="menu__nav" aria-label="Main navigation">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link is-active" href="./">Home</a>
          </li>
          <li class="menu__item">
            <a href="#about" class="menu__link">About</a>
          </li>
          <li class="menu__item">
            <a href="#services" class="menu__link">Services</a>
          </li>
          <li class="menu__item">
            <a href="#pricing" class="menu__link">Pricing</a>
          </li>
        </ul>
      </nav>

      <!-- cta-link -->
      <a class="menu__btn btn btn--accent" href="#cta">Try For Free</a>
    </div>
  </div>
</div>
