<section class="studies container">
  <div class="studies__inner section">
    <!-- Intro -->
    <div class="intro">
      <span class="badge">Case Studies</span>
      <h2 class="intro__title">Transformations We've Delivered</h2>
      <p class="intro__description">
        Discover how businesses thrived with our B2B marketing strategies.
      </p>
    </div>

    <!-- Content -->
    <div class="studies__content">
      <!-- card list -->
      <ul class="studies__card-list">
        <li class="studies__card card">
          <img
            class="studies__img"
            src="./src/images/studies/saas.svg"
            alt="Team analyzing SaaS marketing funnel"
            width="247"
            height="247"
            loading="lazy" />

          <div class="studies__wrapper">
            <!-- details -->
            <div class="studies__details">
              <h3 class="studies__subtitle">Scaling Leads for SaaS Growth</h3>
              <p class="studies__text">
                Partnered with a SaaS provider to refine their lead funnel and
                optimize multi-channel campaigns. By improving targeting and
                conversion flows, we helped attract high-quality leads and scale
                their growth efficiently.
              </p>
            </div>

            <!--  stats  -->
            <div class="studies__stats">
              <!-- key metrics -->
              <ul class="studies__metrics">
                <li class="studies__metric">
                  <span class="studies__metric-value">200%</span>
                  <p class="studies__metric-label">Lead Conversion</p>
                </li>
                <li class="studies__metric">
                  <span class="studies__metric-value">3x</span>
                  <p class="studies__metric-label">Pipeline Growth</p>
                </li>
              </ul>

              <!-- link -->
              <a class="studies__link btn" href="#">See Details</a>
            </div>
          </div>
        </li>

        <li class="studies__card card">
          <img
            class="studies__img"
            src="./src/images/studies/fintech.svg"
            alt="Discussion of fintech marketing data"
            width="247"
            height="247"
            loading="lazy" />

          <div class="studies__wrapper">
            <!-- details -->
            <div class="studies__details">
              <h3 class="studies__subtitle">Fintech ABM That Closed Deals</h3>
              <p class="studies__text">
                Designed and launched account-based marketing campaigns for a
                fintech startup to target and convert key accounts. Personalized
                outreach and data insights led to higher engagement and faster
                deal closures.
              </p>
            </div>

            <!-- stats -->
            <div class="studies__stats">
              <!-- key metrics -->
              <ul class="studies__metrics">
                <li class="studies__metric">
                  <span class="studies__metric-value">5x</span>
                  <p class="studies__metric-label">Engagement Rate</p>
                </li>
                <li class="studies__metric">
                  <span class="studies__metric-value">$1M</span>
                  <p class="studies__metric-label">In Closed Deals</p>
                </li>
              </ul>

              <!-- link -->
              <a class="studies__link btn" href="#">See Details</a>
            </div>
          </div>
        </li>

        <li class="studies__card card">
          <img
            class="studies__img"
            src="./src/images/studies/logistics.svg"
            alt="SEO strategy session for logistics"
            width="247"
            height="247"
            loading="lazy" />

          <div class="studies__wrapper">
            <!-- details -->
            <div class="studies__details">
              <h3 class="studies__subtitle">Driving Visibility in Logistics</h3>
              <p class="studies__text">
                Worked with a logistics company to strengthen its online
                presence through focused SEO and paid strategies. The campaign
                increased visibility, improved search rankings, and delivered
                stronger, lower-cost leads.
              </p>
            </div>

            <!-- stats -->
            <div class="studies__stats">
              <!-- key metrics -->
              <ul class="studies__metrics">
                <li class="studies__metric">
                  <span class="studies__metric-value">120%</span>
                  <p class="studies__metric-label">Traffic Growth</p>
                </li>
                <li class="studies__metric">
                  <span class="studies__metric-value">3x</span>
                  <p class="studies__metric-label">Lower Acquisition Cost</p>
                </li>
              </ul>

              <!-- link -->
              <a class="studies__link btn" href="#">See Details</a>
            </div>
          </div>
        </li>

        <li class="studies__card card">
          <img
            class="studies__img"
            src="./src/images/studies/saas.svg"
            alt="Team analyzing SaaS marketing funnel"
            width="247"
            height="247"
            loading="lazy" />

          <div class="studies__wrapper">
            <!-- details -->
            <div class="studies__details">
              <h3 class="studies__subtitle">Scaling Leads for SaaS Growth</h3>
              <p class="studies__text">
                Partnered with a SaaS provider to refine their lead funnel and
                optimize multi-channel campaigns. By improving targeting and
                conversion flows, we helped attract high-quality leads and scale
                their growth efficiently.
              </p>
            </div>

            <!--  stats  -->
            <div class="studies__stats">
              <!-- key metrics -->
              <ul class="studies__metrics">
                <li class="studies__metric">
                  <span class="studies__metric-value">200%</span>
                  <p class="studies__metric-label">Lead Conversion</p>
                </li>
                <li class="studies__metric">
                  <span class="studies__metric-value">3x</span>
                  <p class="studies__metric-label">Pipeline Growth</p>
                </li>
              </ul>

              <!-- link -->
              <a class="studies__link btn" href="#">See Details</a>
            </div>
          </div>
        </li>

        <li class="studies__card card">
          <img
            class="studies__img"
            src="./src/images/studies/fintech.svg"
            alt="Discussion of fintech marketing data"
            width="247"
            height="247"
            loading="lazy" />

          <div class="studies__wrapper">
            <!-- details -->
            <div class="studies__details">
              <h3 class="studies__subtitle">Fintech ABM That Closed Deals</h3>
              <p class="studies__text">
                Designed and launched account-based marketing campaigns for a
                fintech startup to target and convert key accounts. Personalized
                outreach and data insights led to higher engagement and faster
                deal closures.
              </p>
            </div>

            <!-- stats -->
            <div class="studies__stats">
              <!-- key metrics -->
              <ul class="studies__metrics">
                <li class="studies__metric">
                  <span class="studies__metric-value">5x</span>
                  <p class="studies__metric-label">Engagement Rate</p>
                </li>
                <li class="studies__metric">
                  <span class="studies__metric-value">$1M</span>
                  <p class="studies__metric-label">In Closed Deals</p>
                </li>
              </ul>

              <!-- link -->
              <a class="studies__link btn" href="#">See Details</a>
            </div>
          </div>
        </li>

        <li class="studies__card card">
          <img
            class="studies__img"
            src="./src/images/studies/logistics.svg"
            alt="SEO strategy session for logistics"
            width="247"
            height="247"
            loading="lazy" />

          <div class="studies__wrapper">
            <!-- details -->
            <div class="studies__details">
              <h3 class="studies__subtitle">Driving Visibility in Logistics</h3>
              <p class="studies__text">
                Worked with a logistics company to strengthen its online
                presence through focused SEO and paid strategies. The campaign
                increased visibility, improved search rankings, and delivered
                stronger, lower-cost leads.
              </p>
            </div>

            <!-- stats -->
            <div class="studies__stats">
              <!-- key metrics -->
              <ul class="studies__metrics">
                <li class="studies__metric">
                  <span class="studies__metric-value">120%</span>
                  <p class="studies__metric-label">Traffic Growth</p>
                </li>
                <li class="studies__metric">
                  <span class="studies__metric-value">3x</span>
                  <p class="studies__metric-label">Lower Acquisition Cost</p>
                </li>
              </ul>

              <!-- link -->
              <a class="studies__link btn" href="#">See Details</a>
            </div>
          </div>
        </li>

        <li class="studies__card card">
          <img
            class="studies__img"
            src="./src/images/studies/fintech.svg"
            alt="Discussion of fintech marketing data"
            width="247"
            height="247"
            loading="lazy" />

          <div class="studies__wrapper">
            <!-- details -->
            <div class="studies__details">
              <h3 class="studies__subtitle">Fintech ABM That Closed Deals</h3>
              <p class="studies__text">
                Designed and launched account-based marketing campaigns for a
                fintech startup to target and convert key accounts. Personalized
                outreach and data insights led to higher engagement and faster
                deal closures.
              </p>
            </div>

            <!-- stats -->
            <div class="studies__stats">
              <!-- key metrics -->
              <ul class="studies__metrics">
                <li class="studies__metric">
                  <span class="studies__metric-value">5x</span>
                  <p class="studies__metric-label">Engagement Rate</p>
                </li>
                <li class="studies__metric">
                  <span class="studies__metric-value">$1M</span>
                  <p class="studies__metric-label">In Closed Deals</p>
                </li>
              </ul>

              <!-- link -->
              <a class="studies__link btn" href="#">See Details</a>
            </div>
          </div>
        </li>
      </ul>

      <!-- pagination -->
      <nav class="pagination" aria-label="Results pagination">
        <button
          class="pagination__prev"
          type="button"
          aria-label="Previous page"
          disabled>
          <svg
            class="pagination__icon"
            aria-hidden="true"
            width="14"
            height="11">
            <use href="./src/images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>

        <ul class="pagination__list"></ul>

        <button class="pagination__next" type="button" aria-label="Next page">
          <svg
            class="pagination__icon"
            aria-hidden="true"
            width="14"
            height="11">
            <use href="./src/images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</section>
