<section class="testimonials">
  <div class="testimonials__inner container">
    <!-- Intro -->
    <div class="testimonials__intro intro">
      <span class="testimonials__badge badge">Testimonials</span>
      <div class="testimonials__heading intro">
        <h2 class="intro__title">Proven Results, Real Clients</h2>
        <p class="intro__description">
          Discover how businesses across industries have scaled smarter and
          faster with our tailored B2B marketing strategies.
        </p>
      </div>
    </div>

    <!-- Content / testimonials list -->
    <ul class="testimonials__list">
      <li class="testimonials__item">
        <!-- comment -->
        <p class="testimonials__comment">
          Bizzier transformed our lead generation. The ROI speaks for itself.
          Their team guided us through every stage with clarity and precision.
          We now attract the right clients faster than ever before.
        </p>

        <!-- person -->
        <div class="testimonials__footer">
          <div class="testimonials__person">
            <img
              class="testimonials__avatar"
              src="./src/images/testimonials/no-avatar.svg"
              alt="Photo of Julia Martinez"
              width="52"
              height="52"
              loading="lazy" />

            <div class="testimonials__meta">
              <span class="testimonials__author">Julia Martinez</span>
              <span class="testimonials__role">SaaS Founder</span>
            </div>
          </div>

          <div class="testimonials__counter">
            <span class="testimonials__counter-current">01</span
            ><span class="testimonials__counter-total">05</span>
          </div>
        </div>

        <!-- controls -->
        <div class="testimonials__controls">
          <!-- previous button -->
          <button
            class="testimonials__prev"
            type="button"
            aria-label="Previous testimonial">
            <svg class="testimonials__arrow-icon" width="12" height="10">
              <use href="./src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>

          <!-- next button -->
          <button
            class="testimonials__next testimonials__next--accent"
            type="button"
            aria-label="Next testimonial">
            <svg class="testimonials__arrow-icon" width="12" height="10">
              <use href="./src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
